# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BsGridExtesnionMVC/BsGridExt.Examples/bin
BsGridExtesnionMVC/BsGridExt.Examples/obj
BsGridExtesnionMVC/BsGridExt.Examples/bin/Debug/*.*
BsGridExtesnionMVC/BsGridExt.Examples/obj/Debug/*.*
BsGridExtesnionMVC/BsGridExt.Examples/bin/Release/*.*
BsGridExtesnionMVC/BsGridExt.Examples/obj/Release/*.*
BsGridExtesnionMVC/BsGridExtesnionMVC/bin
BsGridExtesnionMVC/BsGridExtesnionMVC/bin/Debug
BsGridExtesnionMVC/BsGridExtesnionMVC/bin/Debug/*.*
BsGridExtesnionMVC/BsGridExtesnionMVC/bin/Release/*.*
BsGridExtesnionMVC/BsGridExtesnionMVC/bin/Release
BsGridExtesnionMVC/BsGridExtesnionMVC/obj/Debug
BsGridExtesnionMVC/BsGridExtesnionMVC/obj/Debug/*.*
BsGridExtesnionMVC/BsGridExtesnionMVC/obj/Release
BsGridExtesnionMVC/BsGridExtesnionMVC/obj/Release/*.*
*.txt
BsGridExtesnionMVC/BsGridExt.Examples/obj/Debug/BsGridExt.Examples.csprojResolveAssemblyReference.cache
BsGridExtesnionMVC/BsGridExt.Examples/obj/Debug/BsGridExt.Examples.pdb
*.suo