
@{
    ViewBag.Title = "Basic";
}

<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/BsGrid/bootstrap-table/bootstrap-table.css" />
<link rel="stylesheet" href="~/BsGrid/bootstrap3-editable/css/bootstrap-editable.css" />

<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/BsGrid/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="~/BsGrid/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
<script type="text/javascript" src="~/BsGrid/bootstrap3-editable/js/bootstrap-editable.js"></script>

<h2>Basic</h2>

@(Html.BsWidgets().Grid("_fromServer")
    .ColumnsGroup(column => {
        column.Title("EmployeeId").Editable().Classess(new List<String>() { "col-xs-2" });
        column.Title("EmployeeName").Editable().Classess(new List<String>() { "col-xs-2" });
    })
    .Url(Url.Action("GetData", "BsGridExamples"))
    .Classes(new List<String>() { "table", "table-hover", "table-condensed" })
    .Height(400)
    .Pagination(true)
    .Render())
    

<!--
<div class="row">
    <table class="table table-hover table-striped"
           id="_mysomegrid"
           data-toggle="table"
           data-url='@Url.Action("Getdata", "BsGridExamples")'
           data-height="400"
           data-pagination="true"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true">
        <thead>
            <tr>
                <th class="col-xs-2" data-field="EmployeeId" data-sortable="true">EmployeeId</th>
                <th class="col-xs-2" data-field="EmployeeName" data-sortable="true" data-editable="true">EmployeeName</th>
            </tr>
        </thead>
    </table>
           
           
</div>

<script>
    function someFunction() {
        return {
            type: 'text',
            title: 'Yes it Is'
        };
    };
</script>
-->